.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 2em;
  margin-bottom: 8em;
}

.wrapper {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  gap: 6em;
}

.lhs {
  width: 100%;
  max-width: 40em;
}


.rhs {
  width: 100%;
  max-width: 644px;
}

.title {
  font-weight: 600;
  font-size: 2.5vmax;
  line-height: 4vmax;
  color: #F4F4F4;
  margin-bottom: 2em;
}

.image {
  width: 100%;
  max-width: 480px;
}

.text {
  font-size: 1.5em;
  margin-bottom: 2.5em;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text.mobile {
  display: none;
}

.accent {
  white-space: nowrap;
}

.benefitsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    gap: 2em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 1em;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .text {
    display: none;
    font-size: 0.875rem;
  }

  .text.mobile {
    display: block;
  }
}