@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #091829;
  --color-primary-dark: #050F1D;
  --color-accent: #35E5A4;
  --color-accent-dark: #5cffc3;
  --color-text: #FFFFFF;
  --card-bg: #162C4B;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #091829;
  color: white;
  overflow-x: hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: all 300ms !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}